@charset "utf-8";
/************************************************************************************
RESET
*************************************************************************************/
body{background-color: #f7f5f5;font-size: 62.5%;}
.mui-row{
	-webkit-animation: fadeInUpBig .5s .2s ease both;
}
.mui-slider{
	-webkit-animation: fadeInUpBig .5s .1s ease both;
}
.mb10{margin-bottom: 10px;}
body,p{margin: 0;padding: 0;}
.mui-slider-indicator{text-align: right;/*padding-right: 10px;*/}
.mui-slider-indicator .mui-indicator{margin: 1px 2px;}
.plr0{padding-left:0!important ;padding-right: 0 !important;}
/*重写.mui-table-view-cell*/
.mui-table-view-cell{padding: 11px 10px;}
/*详情 游记 以文会友*/
.mui-content.mui-tourist-detail{padding-top: 0;}
.tab .tab-cell:not(:last-child){border-right: 1px solid #e3e2e1;}
.tab .tab-cell a{font-size: 14px;color: #262626;padding-bottom: 11px;}
.tab .tab-cell.active a:after{display: inline-block;content: '';height: 3px;width: 27px;/*background-color: #cd3829;*/position: absolute;bottom: -11px;left: 0;right: 0;margin: 0 auto;z-index: 3;}
.mui-tab{/*border-bottom: 1px solid #e3e2e1;*/background-color: #fff;padding: 10px 0;}
.mui-tab .mui-col-xs-8{margin: 0 auto;float: inherit;}
.mui-table-view:before,.mui-table-view-cell:after,.mui-table-view:after{background-color: #fff;}

.mui-detail{background-color: #fff;}
.mui-detail-title{position: relative;font-size: 15px;color: #262626;font-weight: 600;padding: 10px;}
.mui-detail-title b{border-left: 3px solid #cd3829;padding-left: 9px;}
.mui-detail-content{padding: 0 15px 10px 15px;font-size: 13px;color: #4c4c4c;line-height: 24px; }

.mui-detail-btn{margin-bottom: 7px;}
.mui-detail-btn .mui-detail-btn{max-width: 100%;width: 70%;}

/*吐槽*/
.mui-complain{background-color: #fff;}
.mui-complain .mui-com-tickets{padding: 0 5px 10px;}
.mui-complain .mui-com-tickets .mui-com-ticket{text-align: center;font-size: 12px;color: #808080;padding: 5px;}
.mui-com-tickets .mui-com-ticket b{font-weight: normal;border: 1px solid #e3e2e1;border-radius: 4px;display: block;padding: 3px;}

/*评论*/
.mui-comment .mui-table-view-cell{border-top: 1px solid #e3e2e1;}
.mui-comment .mui-comment-item{position: relative;}
.mui-comment .mui-comment-zan{position: absolute;right: 0;z-index: 10;}
.mui-comment .icon-zan{width: 16px;height: 16px;vertical-align: top;}
.mui-comment .zan-num{font-weight: normal;font-size: 15px;color: #4c4c4c;}
.mui-comment .mui-comment-logo{border-radius: 100%;}
.mui-comment .mui-comment-name{font-size: 15px;color: #333;}
.mui-comment .mui-comment-time{font-size: 10px;color: #999999;font-weight: normal;}

/*悬浮*/
.mui-fixed-comment{position: fixed;right: 15px;bottom: 30px;z-index: 1000;}

/*扫一扫*/
html,body{width: 100%;height: 100%;}
.scan-content{height: 100%;width: 100%;padding-bottom: 123px;}
.scan-pic-div{width: 100%;height: 100%;}
.scan-content .scan-row{position: relative;border: 1px solid transparent;width: 100%;height: 100%;}
.scan-content .takepic{width: 37px;}
.scan-content .scan-takepic{font-size: 0;margin: 20px 15px;position: absolute;
    right: 0;}
.scan-content .scan-takepic a:not(:last-child){margin-right: 25px;}

.scan-foot{margin-top: -123px;height: 123px;width: 100%;border: 1px solid transparent;background-color: #fff;}
.scan-foot .scan-take-txt{font-size: 15px;color: #cd3829;margin: 8px 0;position: relative;}
.scan-foot .scan-take-txt2{position: absolute;color: #262626;margin-left: 28px;}
.scan-foot .scan-take-a{display: inline-block;}
.scan-foot .scan-take{width: 74px;height: 74px;}
.scan-photos-d{margin-top: 14px;}
.scan-foot .scan-photos{width: 26px;height: 22px;}
.scan-photos-txt{font-weight: normal;font-size: 12px;color: #666666;}

/*景点*/
.mui-search-box{background-color: #fff;border-bottom: 1px solid #e3ded8;box-shadow: none;}
.mui-search-box.mui-bar-fff{background-color: #fff;border-bottom: none;box-shadow: none;}
.mui-search{position: relative;height: 34px;width: 87%;border: 1px solid #e3e2e1;border-radius: 50px;margin: 5px auto;padding: 0 14px;}
.mui-bar-fff .mui-back{background: url(../images/icon_back_white.png)no-repeat left center;background-size: 9px 17px;}
.mui-bar-fff .mui-more{background: url(../images/yuandian_white.png)no-repeat right center;background-size: 3px 18px;}
.mui-back{position: absolute;width: 35px;height: 44px;background: url(../images/icon_back.png)no-repeat left center;background-size: 9px 17px;}
.mui-more{position: absolute;top: 0;right: 10px;width: 35px;height: 44px;background: url(../images/yuandian.png)no-repeat right center;background-size: 3px 18px;}
.mui-search .mui-input{position: relative;top: -3px;width: 79%;height: 90%;margin-top: 2px;border: none;padding: 14px 0px;margin-bottom: 0;font-size: 14px;color: #999999;}
/*如果文档宽度小于 300 像素则修改背景演示(background-color):*/
@media screen and (max-width: 390px) and (min-width:340px){
    .mui-search .mui-input{
        width: 75%;
    }
}
@media screen and (max-width: 339px) {
    .mui-search .mui-input{
        width: 70%;
    }
}

.mui-icon-voice{display: inline-block;height: 16px;width: 28px;background: url(../images/icon_voice.png)no-repeat center center;background-size: 9px 14px;border-right: 1px solid #e3e2e1;margin-top: 8px;}
.mui-icon-searchs{display: inline-block;height: 16px;width: 23px;background: url(../images/icon_search.png)no-repeat center center;background-size: 15px 15px;}
.mui-tou-content{position: relative;overflow: inherit;}
.mui-row-item{padding: 10px;background-color: #fff;}
.mui-row-bottom{border-bottom: 1px solid #e3e2e1;}
.mui-img-response{max-width: 100%;} 
.mui-tou-title{font-size: 16px;color: #0d0d0d;font-weight: bold;line-height: 30px;}
.mui-tou-text{font-size: 14px;color: #4c4c4c;line-height: 26px;}
.mui-look-more{font-size: 12px;color: #cd3829;border: 1px solid #cd3829;border-radius: 50px;padding: 5px 20px;margin-top: 7px;display: inline-block;
	  background-color: rgb(245, 250, 255);
}
.mui-scoll-x .mui-scroll{padding: 3px 3px 10px 3px;}
.mui-scoll-x .mui-scroll-wrapper .mui-control-item{height: 100%;width: 130px;padding: 0;box-shadow: 1px 1px 6px 2px #efefef;margin-right: 4px;}
.mui-segmented-control.mui-segmented-control-inverted .mui-control-item.mui-active{border-bottom: none;}
.mui-scoll-x .mui-segmented-control.mui-scroll-wrapper{height: 170px;padding-left: 8px;}
.mui-scoll-x .mui-scroll-wrapper .mui-scoll-imgs{line-height: 0;height: 90px;width: 100%;display: flex;justify-content: center;align-items: center;}
.mui-scoll-x .mui-scroll-wrapper .mui-scoll-img{max-width: 100%;height: 100%;}
.mui-scoll-x .mui-scroll-wrapper .mui-scoll-title{font-size: 14px;color: #262626;line-height: 23px;}
.mui-scoll-x .mui-scroll-wrapper .mui-scoll-txt{padding: 0 6px;}
.mui-scoll-x .mui-scroll-wrapper .mui-scoll-con{font-size: 11px;color: #666666;line-height: 15px;white-space: normal;}
.mui-scoll-x .mui-segmented-control.mui-scroll-wrapper .mui-scroll{height: 170px;}
.mui-scoll-x .mui-scroll-wrapper .mui-control-travelers{text-align: center;padding:10px;line-height: inherit;}
.mui-scoll-x .mui-control-travelers .mui-control-item{padding: 10px 0;}
.mui-scoll-x .mui-control-travelers .mui-scoll-img{width: 55px;height: 55px;border-radius: 100%;}
.mui-scoll-x .mui-control-travelers .mui-scoll-btn{font-size: 11px;color: #fff;display: inline-block;width: 70px;height: 22px;line-height: 22px;text-align: center;background-color: #cd3829;margin-top: 7px;}
.mui-scoll-travelers .mui-segmented-control.mui-scroll-wrapper,.mui-scoll-travelers .mui-segmented-control.mui-scroll-wrapper .mui-scroll{height: 170px;}
.mui-detail-title .mui-all{position: absolute;right: 0;font-size: 11px;color: #999999;}
.mui-detail-title .mui-icon{font-size: 11px;}
.mui-scoll-travelers .mui-segmented-control .mui-control-item{line-height: 0;}
.mui-scoll-travelers .mui-scoll-x .mui-scroll-wrapper .mui-scoll-title{line-height: 24px;}
/*攻略朋友群*/
.mui-control-strategy{position: relative;width: 32%;}
.mui-control-strategy .mui-strategy-img{display: block;width: 100%;height: 80px;}
.mui-control-strategy .mui-strategy-img .mui-img-response{width: 100%;height: 100%;}
.mui-control-strategy .mui-strategy-collect{z-index: 4;position: absolute;height: 18px;width:100%;background: rgba(0,0,0,0.3);bottom: 0;color: #fff;    line-height: 18px;padding: 0 5px}
.mui-control-strategy .mui-icon-collected{background: url(../images/xined.png)no-repeat;background-size: 10px 9px;}
.mui-icon-collect{display: inline-block;width: 10px;height:9px;background: url(../images/xin.png)no-repeat;background-size: 10px 9px;}
.mui-strategy-collect b{font-size: 10px;font-weight: normal;}
.mui-control-strategy:not(:last-child){margin-right: 2%;}
/*猜你想去*/
.mui-want-table .mui-table-view-cell{padding: 11px 15px;}
.mui-want-table .mui-table-view-cell>a:not(.mui-btn){padding: initial;white-space: inherit;}
.mui-want-table .mui-table-view-cell >a{display: flex;}
.mui-want-table .mui-want-img{position: relative;width: 32%;height: 80px; margin-right: 2%;}
.mui-want-table.mui-table-view .mui-media-object{width: 100%;height: 100%;max-width: none;}
.mui-want-table .mui-want-people{z-index: 4;position: absolute;height: 18px;width: 100%;background: rgba(0,0,0,0.3);bottom: 0;color: #fff;line-height: 18px;padding: 0 8px;font-size: 11px;}
.mui-want-table .mui-media-body{flex: 1;height: 80px;display: flex;justify-content: center;align-items: center;}
.mui-want-table .mui-media-body .mui-want-title{font-size: 15px;color: #262626;}
.mui-want-table .mui-media-body>span{display: grid;}
.mui-want-table .mui-media-body .mui-want-content{font-size: 12px;color: #666666;}
.mui-want-table .mui-table-view-cell{margin-bottom: 10px;}
/*分享詳情*/
.mui-share-table .mui-comment-item{position: relative;}
.mui-share-table .mui-comment-item .mui-share-btn{position: absolute;right: 0;top: 50%;font-size: 12px;color: #fffefe;background-color: #cd3829;width: 62px;height: 24px;border-radius: 6px;text-align: center;line-height: 24px;margin-top: -12px;}
.mui-share-content{background-color: #fff;padding: 10px;}
.mui-share-content img{max-width: 100%;}
/*游记*/
.mui-travel-comments .mui-travel-text{font-size: 15px;color: #666666;margin: 14px 0 12px 0;}
.mui-travel-comments .mui-travel-revert{position: relative;background-color: #ededed;border-radius: 4px;padding: 14px 10px;margin-top: 20px;}
.mui-travel-comments .mui-travel-revert .mui-triangle{position: absolute;top: -10px;left: 43px;width: 0;height: 0;border-left: 10px solid transparent;border-right: 10px solid transparent;border-bottom: 14px solid #ededed;}
.mui-travel-comments .mui-travel-revert .mui-zan{}
.mui-travel-comments .mui-travel-revert .mui-icon-zan{display: inline-block;width: 10px;height: 9px;background: url(../images/xined.png)no-repeat;background-size: 100% 100%;}
.mui-travel-comments .mui-travel-revert .zan-name{font-size: 12px;color: #cd3829;font-weight: normal;}
.mui-travel-comments .mui-travel-revert .zan-text{font-size: 12px;color: #666;font-weight: normal;}
/*攻略群详情*/
.mui-travel-groud{}
.mui-travel-groud .mui-media-object{width: 65px;height: 65px;border-radius: 4px;max-width: 65px;}
.mui-travel-groud .mui-groud-title{font-size: 15px;color: #333333;}
.mui-travel-groud  .mui-groud-txt{font-size: 12px;color: #999;}

.mui-groud-profile{padding: 10px 15px;background-color: #fff;}
.mui-groud-profile .mui-profile-title{font-size: 15px;color: #262626;}
.mui-groud-profile .mui-profile-text{font-size: 13px;color: #666666;margin-bottom:17px;}
.mui-groud-profile .mui-profile-btn{padding: 12px 120px;}
.mui-groud-more .mui-media{position: relative;}
.mui-groud-more .mui-table-view-cell{padding: 11px 0px;}
.mui-groud-more .mui-table-view-cell>a:not(.mui-btn){margin: -11px 0px;}
.mui-groud-more .mui-table-view-cell>.mui-btn{right: 0;}
/*我的吐槽列表*/
.mui-spitslot-lists{}
.mui-spitslot-lists .mui-media{border-top: none;border-bottom: 1px solid #e3e2e1;}
.mui-spitslot-lists .mui-spitslot-con{margin-top: 13px;}
.mui-spitslot-lists .mui-spitslot-name{font-size: 15px;color: #333333;font-weight: normal;margin-right: 5px;}
.mui-spitslot-lists .mui-spitslot-ticket{font-size: 10px;color: #cd3829;border: 1px solid #cd3829;border-radius: 20px;padding: 4px 7px;}
.mui-spitslot-lists .mui-spitslot-con p{font-size: 15px;color: #282828;}
/*我要吐槽*/
.mui-link{position: absolute;right: 10px;top: 50%;transform: translateY(-50%);font-size: 15px;color: #666666;}
.mui-spitslot-content{}
.mui-spitslot-content .mui-detail-title b{border-left: none;padding-left: 0;font-size: 14px;color: #999999;font-weight: normal;}
.mui-spitslot-content.mui-complain .mui-com-tickets .mui-com-ticket{color: #333333;}
.mui-spitslot-content .mui-com-tickets .mui-com-ticket.active b{color: #fff;background-color: #cd3829;border: none;}
.mui-spitslot-textarea{padding: 15px 10px;position: relative;}
.mui-spitslot-textarea .upload_img{position: absolute;left: 0;top: 3px;opacity: 0;}
.mui-spitslot-textarea .mui-textarea{border: 1px solid #e3e2e1;font-size: 12px;color: #999999;margin-bottom: 0;}
.mui-spitslot-textarea .mui-spitslot-vedio{position: absolute;right: 23px;bottom:24px;background: url(../images/tab_vedio_icon.png)no-repeat center 2px;background-size: 22px 19px;padding-top: 23px;font-size: 11px;color: #b3b3b3;}
.mui-spitslot-btn{padding: 12px 120px;margin-top: 30px;}
/*朋友圈*/
.mui-oper-div{position: absolute;right: 40px;}
.mui-operate{display: inline-block;width:26px;height: 16px;background: url(../images/icon_oper.png)no-repeat;background-size:26px 16px;}
.mui-oper-span{display: inline-block;width: 45px;height: 30px;background-color: #ededed;border-radius: 4px;}
.mui-oper-zan,.mui-oper-comment{display: inline-block;width: 100%;height: 100%;}
.mui-oper-zan{background: url(../images/good.png)no-repeat center center;background-size: 17px 17px;}
.mui-oper-comment{background: url(../images/comment.png)no-repeat center center;background-size: 18px 15px;}
.mui-search-box .mui-other-menu{position: absolute;color: #fff;right: 10px;}
/*朋友圈分享弹窗*/
.mui-share-mask{position: fixed;left: 0;top: 0;z-index: 46;background-color: #fff;width: 100%;height: 132px;padding-top: 33px;}
.mui-share-mask .mui-img-shuo{width: 40px;height: 38px;}
.mui-share-mask .mui-img-jie{width: 40px;38px}
.mui-share-mask .mui-img-guan{width: 39px;height: 38px;}
.mui-share-mask .mui-name{font-size: 15px;color: #262626;}
.mui-share-mask .mui-mask-close{position: absolute;right: 10px;color: #000000;top: 0px;z-index: 5;}
/*灌水吧*/
.mui-share-irrigation{padding:10px 5px;background-color: #fff;}
.mui-share-irrigation{}
.mui-share-irrigation .mui-com-ticket {text-align: center;font-size: 12px;color: #cd3829;padding: 5px;}
.mui-share-irrigation .mui-com-ticket.active b{background-color: #cd3829;color: #fff;}
.mui-share-irrigation .mui-com-ticket b {font-weight: normal;border: 1px solid #cd3829;border-radius: 50px;display: block;padding: 4px;}
.mui-irrigation-lists{}
.mui-irrigation-lists .mui-irrigation-oper{margin-top: 18px;}
.mui-irrigation-lists .mui-irrigation-oper .mui-icon-comment{background: url(../images/comment_gray.png)no-repeat;background-size: 18px 15px;padding-left: 23px;font-size: 15px;color: #4c4c4c;margin-right: 17px;}
.mui-irrigation-lists .mui-irrigation-oper .mui-icon-zan{background: url(../images/zan_icon.png)no-repeat;background-size: 16px 16px;padding-left: 20px;font-size: 15px;color: #4c4c4c;}
.mui-irrigation-lists .mui-irrigation-oper .mui-icon-zan.active{background: url(../images/zanh_icon.png)no-repeat;background-size: 16px 16px;}
/*结伴吧*/
.mui-companion-lists .mui-btn-danger{position: absolute;right: 0;top: 4px;padding: 5px 15px;background-color: #cd3829;border-radius: 0;}
.mui-companion-lists .mui-companion-groud{margin-top: 8px;}
.mui-companion-lists .mui-companion-groud,.mui-companion-lists .mui-companion-groud p{font-size: 13px;color: #666666;}
.mui-companion-lists .mui-companion-groud b{font-weight: normal;}
.mui-companion-lists .mui-companion-imgs .mui-companion-img{width: 32%;margin-right: 2%;}
.mui-companion-lists .mui-companion-imgs .mui-companion-img:nth-child(3n){margin-right: 0;}
.mui-companion-lists .mui-companion-img .mui-img{height: 80px;width: 100%;}
.mui-companion-opers .mui-position{min-width: 11px;min-height: 13px;background: url(../images/icon_position.png)no-repeat left center;background-size: 11px 12px;font-size: 13px;color: #808080;padding-left: 15px;}
.mui-companion-opers .mui-group-chat{background: url(../images/icon_group_chat.png)no-repeat right center;background-size: 18px 16px;padding-right:20px;font-size: 13px;color:#808080;margin-right: 10px;}
.mui-companion-opers .mui-private-chat{background: url(../images/icon_private_chat.png)no-repeat right center;background-size: 18px 13px;padding-right:20px;font-size: 13px;color:#808080;margin-right: 10px;}
.mui-companion-opers .mui-comment-chat{background: url(../images/comment_gray.png)no-repeat right center;background-size: 18px 15px;padding-right:20px;font-size: 13px;color:#808080;}
/*结伴详情*/
.mui-companion-footer{}
.mui-companion-footer .mui-bar-tab .mui-icon-home,.mui-companion-footer .mui-bar-tab .mui-active .mui-icon-home{background: url(../images/icon_groupbig_chat.png)no-repeat center;background-size: 23px 19px;}
.mui-companion-footer .mui-bar-tab .mui-icon-phone,.mui-companion-footer .mui-bar-tab .mui-active .mui-icon-phone{background: url(../images/icon_privatebig_chat.png)no-repeat center;background-size: 23px 18px;}
.mui-companion-footer .mui-bar-tab .mui-icon-email,.mui-companion-footer .mui-bar-tab .mui-active .mui-icon-email{background: url(../images/icon_commentbig_chat.png)no-repeat center;background-size: 23px 20px;}
.mui-companion-footer .mui-bar-tab .mui-icon-gear,.mui-companion-footer .mui-bar-tab .mui-active .mui-icon-gear{background: url(../images/icon_sharebig_chat.png)no-repeat center;background-size: 19px 18px;}
.mui-companion-footer .mui-bar-tab .mui-tab-item .mui-icon{top: 5px;}
/*群聊*/
.mui-groudchat-box .mui-title b{font-weight: 500;}
.mui-groudchat-box .mui-groud{position: absolute;right: 10px;height: 44px;width: 50px;background: url(../images/icon_groupbig_chat.png)no-repeat right center;background-size: 23px 19px;}
.mui-groudchat-footer .mui-bar-tab{padding: 0 10px;display: flex;}
.mui-groudchat-footer .mui-groud-add{display: inline-block;width: 30px;height: 52px;background: url(../images/icon_add.png)no-repeat center center;background-size: 23px;}
.mui-groudchat-footer .mui-groud-smile{display: inline-block;width: 43px;height: 52px;background: url(../images/icon_smile.png)no-repeat center center;background-size: 23px;}
.mui-groudchat-footer .mui-groud-input{flex: 1;margin: 5px 0 0 0;}
.mui-groudchat-footer .mui-groud-send{display: inline-block;width: 42px;line-height: 52px;text-align: right;font-size: 16px;color: #cd3829;}
.mui-iframe-groudchat{}
.mui-iframe-groudchat .mui-content{background-color: transparent;padding: 10px;}
.mui-iframe-groudchat .mui-chat-time{font-size: 11px;color: #999;margin-bottom: 25px;}
.mui-iframe-groudchat .mui-chat-receive{display: flex;margin-bottom: 28px;}
.mui-iframe-groudchat .mui-chat-receive .mui-chat-logo{width: 60px;height: 60px;}
.mui-chat-receive .mui-chat-logo .mui-img-response{width: 100%;height: 100%;border-radius: 100%;}
.mui-iframe-groudchat .mui-chat-receive .mui-chat-content{flex: 1;padding-left: 10px;}
.mui-iframe-groudchat .mui-chat-receive .mui-chat-name{font-size: 12px;color: #666666;margin-bottom: 8px;}
.mui-iframe-groudchat .mui-chat-receive .mui-chat-text{position: relative;display: inline-block;background-color:#fff;padding: 12px;border: 1px solid #efefef;border-radius: 6px;}
.mui-chat-receive .mui-chat-text p{font-size: 15px;color: #333333;}
.mui-chat-receive .mui-chat-text .mui-traggle{position: absolute;}
.mui-iframe-groudchat .mui-chat-send .mui-chat-content{text-align: right;padding-right: 10px;}
.mui-chat-receive .mui-chat-text:before{box-sizing: content-box;width: 0px;height: 0px;position: absolute;top: 0px;;left: -5px;padding:0;border-bottom:8px solid transparent;border-top:8px solid #FFFFFF;border-left:8px solid transparent;border-right:8px solid transparent;display: block;content:'';z-index: 12;}
.mui-chat-receive .mui-chat-text:after{box-sizing: content-box;width: 0px;height: 0px;position: absolute;top: -2px;;left: -6px;padding:0;border-bottom:9px solid transparent;border-top:9px solid #efefef;border-left:9px solid transparent;border-right:9px solid transparent;display: block;content:'';z-index:10}
.mui-iframe-groudchat .mui-chat-send .mui-chat-text:before{top: 0px;;right: -5px;left: inherit;padding:0;border-bottom:8px solid transparent;border-top:8px solid #FFFFFF;border-left:8px solid transparent;border-right:8px solid transparent;}
.mui-iframe-groudchat .mui-chat-send .mui-chat-text:after{top: -2px;;right: -6px;left: inherit;border-bottom:9px solid transparent;border-top:9px solid #efefef;border-left:9px solid transparent;border-right:9px solid transparent;}
/*群成员*/
.mui-iframe-members .mui-members-clearfix{background-color: #fff;padding: 18px 0 30px 0;}
.mui-iframe-members .mui-members-logo{width: 52px;height: 52px;border-radius: 100%;}
.mui-iframe-members .mui-members-name{font-size: 12px;color: #333333;line-height: 16px;margin-bottom: 7px;padding: 0 10px;}
.mui-iframe-members .mui-members-btn{padding: 5px 16px;border: 1px solid #cd3829;border-radius: 2px;}
.mui-members-exit{padding: 25px 10px;}
.mui-members-exit .mui-btn-danger{width: 100%;background-color: #cd3829;padding: 10px 0;}

/*发布朋友圈，说说*/
.mui-link-back{position: absolute;left: 10px;top: 50%;transform: translateY(-50%);font-size: 15px;color: #666666;}
.mui-publish-friends{padding-bottom: 0;}
.mui-publish-friends .mui-form-control{border: none;font-size: 14px;color: #262626;padding: 0;height: 105px;}
.mui-phone-preview{width: 76px;height: 76px;margin-right: 10px;position: relative;}
.mui-phone-preview img{height: 100%;}
.mui-phone-preview .mui-icon-remove{position: absolute;right: 0;width: 30px;height: 30px;background: url(../images/icon_remove.png)no-repeat right top;background-size: 10px 10px;}
.mui-publish-vedio{position: relative;background-color: #f7f7f7;display: inline-block;width: 76px;height: 76px;padding-top: 14px;}
.mui-publish-vedio .mui-vedio-phone{width: 22px;height: 19px;margin-bottom: 16px;}
.mui-publish-vedio .mui-vedio-text{font-size: 12px;color: #7f7f7f;line-height: 0;}
.mui-publish-vedio .mui-file{position: absolute;left: 0;top: 0;width: 100%;height: 100%;opacity: 0;}
.mui-icon-address{display: inline-block;width: 11px;height: 12px;background: url(../images/icon_position.png)no-repeat;background-size: 11px 12px;vertical-align: text-top;margin-right: 11px;margin-left: 5px}
.mui-left-text{font-size: 12px;color: #666666;}
.mui-table-vedio .mui-table-view-cell{padding: 12px 10px;}
.mui-right-traggle{line-height: 0;}
.mui-right-traggle .mui-icon-traggle{display: inline-block;width: 9px;height: 17px;background: url(../images/icon_back_right.png)no-repeat right center;background-size: 100% 100%;}
/*发表-灌水吧*/
.mui-publish-title{font-size: 14px;color: #262626;padding: 2px 5px;}
.mui-item-line{padding: 0 10px;}
/*发表-结伴吧*/
.mui-table-companion{padding: 0 10px;}
.mui-table-companion .mui-table-view-cell{padding: 0;}
.mui-table-companion .mui-form-control{width: auto;margin-bottom: 0;border: none;}
.mui-table-companion .mui-form-lable{font-size: 14px;color: #262626;line-height: 34px;}
.mui-groud-check{position: relative;}
.mui-groud-check .mui-checked-input{position: absolute;top: 4px;opacity: 0;}
.mui-groud-check .mui-checked-input:checked+.mui-checked-label{background: url(../images/icon_checkbox_y.png)no-repeat left center;background-size: 12px 12px;}
.mui-groud-check .mui-checked-label{background: url(../images/icon_checkbox_n.png)no-repeat left center;background-size: 12px 12px;font-size: 12px;color: #666666;padding-left: 22px;}

/*我的*/
.mui-user-top{position: relative;height: 200px;width: 100%;background: url(../images/user_bg.png)no-repeat;background-size: 100% 100%;}
.mui-user-no{padding-top: 20px;}
.mui-user-top .mui-user-logo{width: 74px;height: 74px;border-radius: 100%;}
.mui-user-top .mui-login-n{display: inline-block;background: rgba(255,255,255,0.83);width: 100px;height: 30px;border-radius: 4px;}
.mui-user-top .mui-login-n .mui-login-btn{display: inline-block;width: 50px;height: 30px;line-height: 30px;font-size: 17px;color: #d42543;}
.mui-user-top .mui-login-n .mui-login-btn:first-child{border-right: 1px solid #d42543;}
/*已登录*/
.mui-user-yes{}
.mui-user-yes .mui-user-logo{margin-right: 13px;}
.mui-user-yes .mui-icon-msg{position: relative;display: inline-block;}
.mui-user-yes .mui-img-msg{width: 23px;height: 19px;margin: 10px 10px 0 0;}
.mui-user-yes .mui-num-msg{position: absolute;right: 8px;top:8px;font-size: 10px;background-color: #cd3829;color: #fff;border-radius: 100%;min-width: 12px;min-height: 12px;text-align: center;line-height: 12px;font-style: normal;}
.mui-user-yes .mui-login-y{padding: 10px;margin-top: 4px;}
.mui-user-yes .mui-user-name{font-size: 15px;color: #4a4a4a;margin-top: 13px;}
.mui-user-yes .mui-user-grade{font-size: 14px;color: #4a4a4a;}
.mui-user-yes .mui-user-grade b{font-weight: normal;}
.mui-user-red{color: #cd3829;}
.mui-user-top .mui-nums{position: absolute;bottom: 0;width: 100%;height: 35px;line-height: 35px;background: rgba(255,255,255,0.8);padding: 0 10px;font-size: 15px;color: #7a7a7a;}
.mui-user-top .mui-nums b{font-weight: normal;}
/*菜单列表*/
.mui-user-menus{padding: 0 10px;background-color: #fff;}
.mui-user-menus .mui-icon{display: inline-block;width: 25px;height: 20px;vertical-align: top;}
.mui-user-menus .mui-icon-foot{background: url(../images/user_footprint.png)no-repeat center center;background-size: 12px 18px;}
.mui-user-menus .mui-left-text{font-size: 15px;color: #4a4a4a;}
.mui-user-menus .mui-icon-activity{background: url(../images/user_activity.png)no-repeat center center;background-size: 15px 15px;}
.mui-user-menus .mui-icon-release{background: url(../images/user_Release.png)no-repeat center center;background-size: 16px 18px;}
.mui-user-menus .mui-icon-collect{background: url(../images/user_Collection.png)no-repeat center center;background-size: 15px 14px;}
.mui-user-menus .mui-icon-setup{background: url(../images/user_Set-up.png)no-repeat center center;background-size: 17px 17px;}
.mui-user-menus .mui-icon-we{background: url(../images/user_we.png)no-repeat center center;background-size: 18px 18px;}
/*我的足迹*/
.mui-foot{position: absolute;top: 0;right: 10px;width: 35px;height: 44px;background: url(../images/foot_tic.png)no-repeat right center;background-size: 23px 23px;}
.mui-foot-row{padding: 0 10px;}
.mui-foot-row .mui-table-view{background: transparent;padding-left: 13px;}
.mui-foot-row .mui-table-view .mui-table-view-cell{position: relative;border-left: 1px solid #cd3829;overflow: inherit;padding: 11px 0px 10px 15px;}
.mui-foot-row .mui-table-view .mui-foot-circle{position: absolute;top: 24px;width: 15px;height: 15px;background: url(../images/foot_circle.png)no-repeat;background-size: 15px 15px;left: -8px;}
.mui-foot-row .mui-foot-contents{background-color: #fff;padding: 4px 0;border-radius: 4px;}
.mui-foot-row .mui-foot-contents .mui-foot-time{font-size: 16px;color: #262626;padding: 0 4px;}
.mui-foot-row .mui-foot-contents .mui-foot-addr{font-size: 15px;color: #666666;border-bottom: 1px solid #e3e2e1;padding: 0 4px;}
.mui-foot-imgb{padding: 4px 4px 0 4px;line-height: 0;}
.mui-foot-imgb .mui-foot-img{height: 154px;}
.mui-foot-img{border-radius: 4px;}
.mui-foot-imgl{padding: 4px 2px;}
.mui-foot-imgl .mui-foot-img{height: 75px;}
.mui-foot-imgl .mui-col-xs-12{line-height: 0;}
.mui-foot-imgl .mui-col-xs-12:first-child{margin-bottom: 4px;}
.mui-foot-imgl2{padding: 4px;}
.mui-table-view:before, .mui-table-view-cell:after, .mui-table-view:after{background-color: transparent;}
/*足迹图*/
.mui-footmap-wrapper{height: 100%;}
.mui-foot-map{position: absolute;width: 100%;height: 100%;padding-top: 44px;overflow: hidden;}
.mui-foot-map-con{position: absolute;width: 100%;height: 100%;}
.mui-footmap-wrapper .mui-footmap-indication{padding: 0 10px;margin-top: 10px;}
.mui-footmap-wrapper .mui-footmap-indication .mui-col-xs-3{background-color: #fff;}
.mui-footmap-indication .mui-col-xs-3 p{font-size: 15px;color: #666666;}
.mui-footmap-indication .mui-col-xs-3:not(:last-child){border-right: 1px solid #dddddd;}
.mui-footmap-indication .mui-col-xs-3 b{font-weight: normal;}
/*我的活动*/
.mui-user-activity{}
.mui-user-activity .mui-table-view{background: transparent;}
.mui-user-activity .mui-activity-box{border-radius: 4px;background-color: #fff;}
.mui-user-activity .mui-activity-box .mui-img-response{border-radius: 4px 4px 0 0;}
.mui-user-activity .mui-activity-content{padding: 0px 10px 10px 10px;}
.mui-user-activity .mui-activity-content b{font-weight: normal;}
.mui-user-activity .mui-activity-content .title{font-size: 17px;color: #262626;}
.mui-user-activity .mui-activity-content .text{font-size: 15px;color: #4a4a4a;margin-top: 4px;}
/*我的发布-朋友圈，说说*/
.mui-release-friends{background: transparent;}
.mui-release-friends .mui-table-view-cell{background-color: #fff;margin-bottom: 5px;}
.mui-release-friends .mui-travel-revert{margin-top: 5px;}
/*我的发布-结伴*/
.mui-companion-lists .user_release_name{color: #cd3829;}
.mui-line-5{height: 5px;background-color: #F7F5F5;margin: 0 -10px;}
.mui-line-10{height: 10px;background-color: #F7F5F5;margin: 0 -10px;}
.mui-companion-wrapper{}
.mui-companion-wrapper .mui-companion-lists .mui-table-view-cell:last-child{border: none;}
.mui-companion-wrapper .mui-companion-text{font-size: 14px;color: #666666;margin-top: 8px;}
/*我的发布--灌水*/
.mui-release-irrigation.mui-spitslot-lists .mui-media{border: none;}
.mui-release-zan{padding: 10px 0;}
.mui-release-zan .mui-icon-zan{display: inline-block;width: 16px;height: 16px;background: url(../images/zanm_icon.png)no-repeat;background-size: 16px 16px;vertical-align: top;margin-right: 5px;}
.mui-release-zan .mui-zan-name{font-size: 12px;color: #4a4a4a;}
.mui-release-zan .mui-icon-comment{display: inline-block;width: 18px;height: 15px;background: url(../images/comment_red.png)no-repeat;background-size: 18px 15px;vertical-align: middle;margin-right: 5px;}
.mui-release-comments{}
.mui-release-comments .mui-table-view-cell{padding: 10px 0;}
.mui-release-comflex{margin-bottom: 4px;}
.mui-release-comflex .mui-spitslot-name{display: inline-block;}
.mui-release-comflex .mui-spitslot-name b{font-weight: normal;}
.mui-release-comflex .mui-release-flex-1{font-size: 14px;}
.mui-release-comflex .mui-release-flex-1 p{color: #666666;}
.mui-release-comments .mui-need-reply{font-size: 10px;color: #cd3829;margin-left: 38px;}
.mui-release-comments .mui-table-view-cell .mui-comment-item{border-bottom: 1px dashed #dddddd;}
.mui-release-comments .mui-comments-pictures{margin-bottom: 4px;}
.mui-release-comments .mui-comments-pictures .mui-comments-pic{width: 32%;height: 82px;}
.mui-release-comments .mui-comments-pictures .mui-comments-pic:not(:last-child){margin-right: 2%;}
.mui-comments-pictures .mui-comments-pic .mui-img-response{height: 100%;}

/*我的收藏*/
.mui-collect-lists{padding: 10px 5px;columns: 2;column-gap: 2px;column-fill: balance;}
.mui-collect-lists .mui-collect-list{padding: 0 5px;margin-bottom: 10px;height: 100%;overflow: auto;}
.mui-collect-lists .mui-collect-list .mui-collect-item{background-color: #fff;border-radius: 8px;}
.mui-collect-list .mui-collect-item .mui-img-response{border-radius: 8px 8px 0 0;}
.mui-collect-lists .mui-collect-contents{padding: 5px;}
.mui-collect-lists .mui-collect-contents .title{font-size: 14px;color: #cd3829;}
.mui-collect-lists .mui-collect-contents .content{font-size: 11px;color: #666666;}
.mui-collect-lists .mui-collect-contents .time{font-size: 9px;color: #666666;}
/*我的设置*/
.mui-user-setup{}
.mui-user-setup .mui-table-view-cell:before{}
.mui-user-setup .mui-setup-text{font-size: 17px;color: #999;font-weight: normal;margin-right: 4px;}
.mui-user-setup .mui-icon-traggle{vertical-align: sub;}
/*我的设置-账号安全*/
.mui-user-setup .mui-security-now{font-size: 15px;color: #666666;}
.mui-user-setup .mui-security-phone{font-size: 15px;color: #333333;}
/*我的设置-账号安全-修改登录密码*/
.mui-update-pass{}
.mui-update-pass .mui-input-group{margin-top: 10px;}
.mui-update-pass .mui-input-user{font-size: 15px;color: #999;width: 95%;}
.mui-update-pass .mui-input-group .mui-input-row{padding: 0 10px;}
.mui-update-pass .mui-input-row label{padding: 8px 0px;border-left: 2px solid #cd3829;margin-top: 13px;width: inherit;}
.mui-update-pass .mui-input-row .mui-icon-eye.mui-active{color: #cd3829;}
.mui-button-forget{padding:10px;}
.mui-button-forget .mui-forget{font-size: 15px;color: #4a4a4a;margin-right: 6px;}
.mui-button-forget .mui-forget-code{font-size: 15px;color: #999999;font-weight: normal;}
.mui-update-btns{padding: 0 10px;margin-top: 40px;}
.mui-update-btns .mui-btn-danger{display: block;background-color: #cd3829;padding: 12px;}
/*我的设置-账号安全-忘记登录密码*/
.mui-update-pass .mui-get-code{position: absolute;right: 10px;top: 6px;font-size: 10px;width: 70px;height: 28px;line-height: 28px;text-align: center;background-color: #dc7369;color: #fff;border-radius: 4px;}
.mui-update-pass .mui-get-code.active{background-color: #cd3829;}
.mui-input-getcode .mui-input-user{width: 70%;float: left;margin-left: 15px;}
.mui-input-getcode.mui-input-row .mui-icon-clear{right: 100px;}
/*我的设置-消息提醒*/
.switch-info{font-size: 12px;color: #999999;padding: 0 10px;}
.mui-switch-blue.mui-active{background-color: #cd3829;border: 2px solid #cd3829;}
.mui-label-switch{margin-top: 4px;}
/*我的设置-意见反馈*/
.mui-opinion-content{background-color: #f7f7f7;}
.mui-opinion-content .mui-opinion-div{line-height: 0;padding: 10px;position: relative;}
.mui-opinion-content .mui-opinion-input{margin-bottom: 0;font-size: 17px;color: #999999;border: none;}
.mui-opinion-content .mui-text-remind{font-size: 15px;color: #999999;padding-right: 10px;    position: absolute;right: 10px;bottom: 22px;}
.mui-opinion-content .mui-text-remind b{font-weight: normal;}
/*消息中心*/
.mui-table-msg-view{background: transparent;}
.mui-table-msg-view .mui-msg-time{font-size: 11px;color: #333333;margin-bottom: 8px;}
.mui-table-msg-view .mui-msg-view-content{background-color: #fff;border-radius: 4px;padding: 10px;}
.mui-table-msg-view .mui-msg-title{font-size: 15px;color: #333333;font-weight: 600;margin-bottom: 4px;}
.mui-table-msg-view .mui-msg-content{font-size: 15px;color: #666666;line-height: 22px;}
.mui-table-msg-view .mui-msg-more{padding: 10px 0 0;margin-top: 4px;display: block;border-top: 1px solid #dddddd;}
.mui-table-msg-view .mui-msg-more p{font-size: 15px;color: #333;}
/*个人资料*/
.mui-edit{position: absolute;right: 10px;width: 50px;height: 44px;background: url(../images/icon_edit.png)no-repeat center right;background-size: 22px 22px;}
.mui-personal-wrapper .mui-table-view-cell{padding: 0 10px;}
.mui-personal-wrapper .mui-content .mui-table-view{margin-top: 10px;}
.mui-personal-wrapper .mui-table-view-cell-box{padding: 10px 0;}
.mui-personal-wrapper .mui-table-view-cell-box .mui-person-logo{width: 59px;height: 59px;border-radius: 4px;}
.mui-personal-wrapper .mui-person-lable{font-size: 15px;color: #4a4a4a;}
.mui-table-view-cell-head .mui-person-lable{padding: 19px 0;}
.mui-line-height-0{line-height: 0;}
.mui-personal-wrapper .mui-person-input,.mui-personal-wrapper .mui-person-select{margin: 0;height: 17px;text-align: right;border: none;padding-right: 0;font-size: 15px;color: #4a4a4a;padding: 0;}
.mui-personal-wrapper .mui-table-view-cell .mui-person-readly{height: 17px;font-size: 15px;color: #4a4a4a;}
.mui-person-save{margin-top: 35px;}
.mui-person-save .mui-btn{background-color: #cd3829;display: inline-block;width: 90px;height: 40px;line-height: 40px;padding: 0;font-size: 18px;}
.mui-edit-op,.mui-person-save{display: none;}
/*我的好友*/
.mui-myfriends .mui-search{margin: 10px auto;}
.mui-myfriends .mui-indexed-list{border-top: none;background-color: #f5f5f5;}
.mui-myfriends .mui-indexed-list-search,.mui-myfriends .mui-placeholder,.mui-indexed-list-search input{background-color: #fff;}
.mui-indexed-list-search input,.mui-placeholder span{font-size: 14px;color: #999;}
.mui-indexed-groud{background-color: #fff;}
.mui-indexed-groud:first-child{border-bottom: 1px solid #ddd;}
.mui-indexed-groud a{font-size: 17px;color: #262626;padding: 10px;display: block;}
.mui-indexed-groud .icon-indexed{display: inline-block;width: 25px;height: 25px;margin-right: 4px;vertical-align: bottom;}
.mui-indexed-groud .icon-indexed-fans{background: url(../images/icon_fans.png)no-repeat;background-size: 25px 25px;}
.mui-indexed-groud .icon-indexed-group{background: url(../images/icon_groud.png)no-repeat;background-size: 25px 25px;}
.mui-myfriends .mui-friends-logo{width: 50px;height: 50px;vertical-align: middle;margin-right: 10px;}
.mui-myfriends .mui-indexed-list-item{font-size: 15px;color: #262626;border-bottom: 1px solid #e3e2e1;}
.mui-myfriends .mui-table-view-cell>a:not(.mui-btn){margin: -11px -10px;}
.mui-myfriends .mui-indexed-list-bar{background-color: transparent}
.mui-myfriends .mui-indexed-list-group{background-color: #f5f5f5;}
.mui-myfriends .mui-table-view-divider:before,.mui-myfriends .mui-table-view-divider:after{background: transparent;}
.mui-myfriends .mui-indexed-list-bar a{color: #333333;}
/*我的好友-好友*/
.mui-nums .mui-col-xs-8{margin: 0 auto;}
.mui-nums .mui-col-xs-8 .mui-table-view{line-height: 16px;margin-top: 9px;}
.mui-friends-contents .mui-travel-revert{margin-top: 4px;}
.mui-user-top .mui-icon-backs{position: absolute;left: 10px;top: 10px;width: 9px;height: 17px;background: url(../images/icon_back_white.png)no-repeat left center;background-size: 9px 17px;}
/*登录*/
.mui-bg{z-index: -1;position: absolute;width: 100%;height: 100%;background: url(../images/login_bg.png)no-repeat;background-size: 100% 100%;background-attachment: fixed;}
.mui-form-contents{width: 80%;margin: 0 auto;}
.mui-form-back{width: 100%;height: 45px;}
.mui-form-back .mui-icon-backs{display: block;width: 100%;height: 100%;background: url(../images/icon_back.png)no-repeat left center;background-size: 9px 17px;}
.mui-form-logo{line-height: 0;}
.mui-login-input{background: transparent;margin-top: 23px;}
.mui-login-input .mui-input-trapper{background: rgba(38,38,38,0.33);border-radius: 4px;}
.mui-login-input.mui-input-group .mui-input-row{height: 50px;}
.mui-login-input .mui-input-row .mui-input-clear~.mui-icon-clear, .mui-login-input .mui-input-row .mui-input-password~.mui-icon-eye{color: #fff;top: 14px;}
.mui-login-input .mui-input-row .mui-input-clear~.mui-icon-clear.mui-active, .mui-login-input .mui-input-row .mui-input-password~.mui-icon-eye.mui-active, .mui-input-row .mui-input-speech~.mui-icon-speech.mui-active{color: #cd3829;}
.mui-login-input .mui-input-row label{width: 12%;height: 100%;}
.mui-login-input .mui-input-row label~input{width: 88%;height: 100%;font-size: 14px;color: #fffefe;}
.mui-login-input ::-webkit-input-placeholder { color:#fffefe; }
.mui-login-input ::-moz-placeholder { color:#fffefe; } /* firefox 19+ */
.mui-login-input:-ms-input-placeholder { color:#fffefe; } /* ie */
.mui-login-input input:-moz-placeholder { color:#fffefe; }
.mui-login-input .mui-label-user{background: url(../images/login_user.png)no-repeat center center;background-size: 15px 20px;}
.mui-login-input .mui-label-pass{background: url(../images/login_pass.png)no-repeat center center;background-size: 16px 18px;}
.mui-login-input .mui-input-trapper .mui-input-row:not(:last-child){border-bottom: 1px solid #fff;}
.mui-login-input.mui-input-group .mui-input-row:after,.mui-login-input.mui-input-group:before,.mui-login-input.mui-input-group:after{height: 0;}
.mui-btn-row{margin-top: 32px;}
.mui-btn-row .mui-btn{width: 100%;background-color: #cd3829;display: block;height: 40px;padding: 0;text-align: center;line-height: 40px;font-size: 18px;}
.mui-login-input.mui-input-group .mui-input-row.mui-forget-row{height: 31px;line-height: 31px;}
.mui-forget-row .mui-btn-forget{font-size: 12px;color: #333333;border-bottom: 1px solid #cd3829;}
.mui-login-input.mui-input-group .mui-input-row.mui-register-row{}
.mui-register-row .mui-btn-register{float: inherit;width: inherit;border: 1px solid #cd3829;color: #cd3829;font-size: 15px;padding: 8px 14px;}
.mui-third-party{font-size: 15px;color: #333;position: relative;margin-top: 37px;}
.mui-third-party:before{display: inline-block;width: 70px;height: 1px;background-color: #fff;content: '';position: absolute;left: 0;bottom: 9px;}
.mui-third-party:after{display: inline-block;width: 70px;height: 1px;background-color: #fff;content: '';position: absolute;right: 0;bottom: 9px;}
.mui-third-type{margin-top: 27px;}
/*注册*/
.mui-login-input .mui-code-row.mui-input-row .mui-icon-clear{right: 102px;}
.mui-code-row{position: relative;}
.mui-code-row .mui-btn-code{font-size: 15px;color: #fff;position: absolute;right: 9px;width: 84px;height: 30px;line-height: 30px;background-color: #c05645;text-align: center;border-radius: 4px;top: 10px;}
.mui-code-row .mui-icon-clear+.mui-btn-code{background-color: #cd3829;}
.mui-code-row .mui-icon-clear.mui-hidden+.mui-btn-code{background-color: #c05645;}
.mui-input-trapper .mui-input-row .mui-icon-eye:before{display: inline-block;content: '';width: 18px;height: 6px;background: url(../images/icon_eyes_close.png)no-repeat;background-size: 100% 100%;}
.mui-input-trapper .mui-input-row .mui-icon-eye.mui-active:before{background: url(../images/icon_eyes_open.png)no-repeat;background-size: 100% 100%;width: 21px;height: 11px;}
.mui-protocol-row{position: relative;margin-top: 25px;}
.mui-protocol-row .mui-protocol-input{position: absolute;top: 4px;opacity: 0;}
.mui-protocol-row .mui-protocol-input:checked+.mui-protocol-label{background: url(../images/icon_checkbox_y.png)no-repeat left center;background-size: 12px 12px;}
.mui-protocol-row .mui-protocol-label{font-size: 12px;color: #fff;padding-left: 20px;background: url(../images/icon_checkbox_n.png)no-repeat left center;background-size: 12px 12px;}
.mui-protocol-row .mui-protocol-text{font-size: 12px;color: #cd3829;}




/*底部菜单*/
footer .mui-bar-tab{background-color: #fff;}
.mui-height-50{height: 50px;}
.mui-bar-tab .mui-icon-home{width: 100%;background: url(../images/tab_home_icon.png)no-repeat center;background-size: 30px 23px;}
.mui-bar-tab .mui-icon-home:before,.mui-bar-tab .mui-icon-phone:before,.mui-bar-tab .mui-icon-email:before,.mui-bar-tab .mui-icon-gear:before{content: '';}
.mui-bar-tab .mui-active .mui-icon-home{background: url(../images/tab_homeh_icon.png)no-repeat center;background-size: 30px 23px;}
.mui-bar-tab .mui-icon-phone{width: 100%;background: url(../images/tab_saoyisao_icon.png)no-repeat center;background-size: 22px 21px;}
.mui-bar-tab .mui-active .mui-icon-phone{width: 100%;background: url(../images/tab_saoyisaoh_icon.png)no-repeat center;background-size: 22px 21px;}
.mui-bar-tab .mui-icon-email{width: 100%;background: url(../images/tab_fenxiang_icon.png)no-repeat center;background-size: 21px 21px;}
.mui-bar-tab .mui-active .mui-icon-email{width: 100%;background: url(../images/tab_fenxiangh_icon.png)no-repeat center;background-size: 21px 21px;}
.mui-bar-tab .mui-icon-gear{width: 100%;background: url(../images/tab_me_icon.png)no-repeat center;background-size: 18px 23px;}
.mui-bar-tab .mui-active .mui-icon-gear{width: 100%;background: url(../images/tab_meh_icon.png)no-repeat center;background-size: 18px 23px;}
.mui-tab-label{color: #4C4C4C;}
@-webkit-keyframes fadeInUpBig{
    0%{
        opacity:0;
        -webkit-transform:translateY(25px)
    }
    100%{
        opacity:1;
        -webkit-transform:translateY(0)
    }
}
@-moz-keyframes fadeInUpBig{
    0%{
        opacity:0;
        -moz-transform:translateY(25px)
    }
    100%{
        opacity:1;
        -moz-transform:translateY(0)
    }
}